# PostgreSQL
PGHOST=db
PGPORT=5432
PGDATABASE=postgres
PGUSER=your_db_user
PGPASSWORD=your_db_password
DB_SSL=false # Set to true only if PostgreSQL server requires SSL (e.g. a cloud provider).

# Highscores Scraper 
HIGHSCORES_SCRAPER_BASE_URL=https://example.com/highscores
HIGHSCORES_SCRAPER_PAGES_TO_SCRAP=10

# Online Scraper 
ONLINE_SCRAPER_URL=https://example.com/online

# Fetch HTML configuration
FETCH_MAX_RETRIES=3
FETCH_TIMEOUT_MS=10000
FETCH_RETRY_DELAY_MS=5000

# Debug
ENABLE_DEBUG=false
